@model CurrencyConvert.Models.ExchangeRate

@{
    ViewBag.Title = "Create";
}

<h2>კურსის გაწერის ფორმა</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        <h4>კურსის პარამეტრები</h4>
        
        <div>
            @Html.LabelFor(model => model.Id, "კურსის ID")
            @Html.EditorFor(model => model.Id, new {htmlAttributes = new {@class = "form-control", required = "required"}})
        </div>
        
        <div>
            @Html.LabelFor(model => model.CurrencyCode, "ვალუტის კოდი")
            @Html.EditorFor(model => model.CurrencyCode, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        </div>
        
        <div>
            @Html.LabelFor(model => model.BuyRate, "ყიდვის კურსი")
            @Html.EditorFor(model => model.BuyRate, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        </div>
        
        <div>
            @Html.LabelFor(model => model.SellRate, "გაყიდვის კურსი")
            @Html.EditorFor(model => model.SellRate, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        </div>

        <div>
            <button type="submit" value="Create" class="btn btn-default">დამატება</button>
        </div>
    </div>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}