@model System.Collections.Generic.List<CurrencyConvert.Models.ExchangeRate>

@{
    ViewBag.Title = "კურსების რეესტრი";
}

<h2>კურსის რეესტრი</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>ვალუტის კოდი</th>
        <th>ყიდვის კურსი</th>
        <th>გაყიდვის კურსი</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellRate)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("დაამატე", "AddExchangeRate") | @Html.ActionLink("ჩაასწორე", "EditExhangeRate") | @Html.ActionLink("წაშალე", "DeleteExchangeRate")
</p>