@model IEnumerable<CurrencyConvert.Models.Currency>

@{
    ViewBag.Title = "ვალუტების რეესტრი";
}

<h2>ვალუტის რეესტრი</h2>

<table class="table">
    <tr>
        <th>ვალუტის კოდი</th>
        <th>ვალუტის დასახელება</th>
        <th>ვალუტის დასახელება ლათინურად</th>
        <th>თანმიმდევრობის ინდექსი</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameLatin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNum)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("დაამატე", "AddCurrency") | @Html.ActionLink("ჩაასწორე", "EditCurrency") | @Html.ActionLink("წაშალე", "DeleteCurrency")
</p>

